*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family:BasicFont;
    src: url(font/coolveticarg.ttf);
    

}
html{
    scroll-behavior: smooth;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:BasicFont;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
.content
{
    position: relative;
    width: 100%;
}
section
{
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}
.content .section:nth-child(1)
{
    background: linear-gradient(to top,#00b2ff,#00a8f0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content .section:nth-child(2)
{
    background-color:#fff;
}
.content .section:nth-child(3)
{
    background: linear-gradient(to top,#00b2ff,#00a8f0);
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1
{
    position: absolute;
    font-size: 23em;
    letter-spacing: 10px;
    color: hsla(0, 0%, 100%, 0.3);
}
section .cc{
    color: rgba(0, 0, 0, .1)
}
.info
{   
    position: absolute;
    left: 5%;
    overflow: hidden;

    text-align: left;
}
.info p{
    visibility: hidden;
    font-size: 8em;
    color: white;
    position: relative;
    animation: move 1s ease ;
    animation-fill-mode: forwards;
}
.info p:nth-child(1)
{
    animation-delay: .5s;
}
.info p:nth-child(2)
{
    animation-delay: 1s;
}
.info p:nth-child(3)
{
    animation-delay: 1.5s;
}
@keyframes move
{
    0%{
        visibility: visible;
        left: -100%;
    }
    100%
    {
        visibility: visible;
        left: 0%;
    }
}
@media (max-width: 1800px)
{
    .info p{
        font-size: 7em;
    }
    section h1{
        font-size: 17em;
        letter-spacing: 7px;
    }
    .main{
        transform: scale(.9);
    }
}
@media (max-width: 1600px),(min-height: 1200px)
{
    section h1{
        font-size: 15em;
        letter-spacing: 7px;
    }
    .main{
        transform: scale(.9);
    }
}
@media (max-width: 1200px),(min-height: 1000px)
{
    section h1{
        font-size: 10em;
        letter-spacing: 5px;
    }
    .main{
        transform: scale(.7);
    }
    .social
    {

        transform: scale(.8);
    }
}
@media (max-width: 1000px)
{

    .desc div{
        margin-top: .5%!important;
    }
    .desc h1{
        font-size: 5em !important;
    }
    .card-image .img2{
        display: none;
    }
    .info p{
        font-size: 4em !important;
    }
    .section
    {
        position: relative;
    }
    section h1{
        font-size: 4em;
        letter-spacing: 5px;
    }
    .main{
        display:flex !important;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
    .container{
        justify-content: center !important;
        align-items: center !important;
        display: block !important;
        margin: -25px!important;
        
    }
    .social
    {
        display: block !important;
        justify-content: center;
        align-items: center;
        transform: scale(.8);

    }
    .icons{
        position: relative!important;
        margin: -10px;
    }
    .card
    {
        margin: 100px!important;
        width: 200px !important;
        height: 200px !important;

    }
    .scroll
    {
        display: none;

    }
}
@media (max-width: 700px)
{
    .info p{
        font-size: 2.5em;
    }
    .card
    {
        margin: 75px!important;
        width: 150px !important;
        height: 150px !important;

    }
    .social
    {

        transform: scale(.5);
    }
    .section h1
    {
        font-size: 3em;
        letter-spacing: 2.5px;
    }
}
@media (max-width: 500px)
{
    .desc p{
        font-size: 1.5em!important;
    }
    
}
@media (max-width: 400px)
{
    .card
    {
        margin: 50px!important;
        width: 120px !important;
        height: 120px !important;

    }
}
@media (max-height: 750px)
{
    section h1{
        font-size: 10em;
        letter-spacing: 5px;
    }
    .main{
        transform: scale(.7);
    }
    .social
    {

        transform: scale(.8);
    }
    .info p{
        font-size: 5em!important;
    }
}
@media (max-height: 850px)
{
    .desc div{
        margin-top: .5%!important;
    }

}
@media (max-height: 650px)
{
    .card-image .img2{
        display: none;
    }
    .info p{
        font-size: 4em!important;
    }
    .section
    {
        position: relative;
    }
    section h1{
        font-size: 4em;
        letter-spacing: 5px;
    }
    .main{
        display:flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
    .container{
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
        margin: -25px!important;
        
    }
    .social
    {
        display: flex !important;
        justify-content: center;
        align-items: center;
        transform: scale(.8);

    }
    .icons{
        position: relative!important;
        margin: -10px;
    }
    .card
    {
        margin: 50px!important;
        width: 200px !important;
        height: 200px !important;

    }
    .scroll
    {
        display: none;

    }
}

